
</body>
    <div class="footer">
        <h3 class="copyright">Designed by and <i class="far fa-copyright"></i> <a class="copyrightLink" href="https://www.linkedin.com/in/mohanlallothiya/" target="_blank">MOHAN LAL LOTHIYA</a></h3>
    </div>
</html>